@model List<Reservation>
@{
    ViewData["Title"] = "MyCurrentReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Current Reservations</h1>

@if (@Model.Count > 0)
{
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Location</th>
                <th>Person Count</th>
                <th>Reservation Date</th>
                <th>Status</th>
            </tr>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Destination.City</td>
                    <td>@item.PersonCount</td>
                    <td>@item.ReservationDate</td>
                        <td>@item.StatuStr</td>

                </tr>
        }
        </table>
}
else
{
        <h1>No reservations were found</h1>
}

